.comments {
  margin-top: 50px;
}

.comment {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  width: 400px;
}

.comment-date {
  color: #B8B8B8;
}

.content {
  margin-top: 15px;
}
